<h1>My Shifts</h1>

<table>
  <tr>
    <th>Week</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
	<% if assignment.user_id == session[:user_id] %>
		<tr>
			<td><%= assignment.week %></td>
			<td><%= assignment.status %></td>
			<td><%= link_to 'Show', assignment %></td>
			<td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
			<td><%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
