<% if @house.errors.none? %>
	$('#new_item_line').before('<tr>\
															<td><%= escape_javascript best_in_place @house, :name %></td>\
															<td><%= @house.semester_start_date %></td>\
															<td><%= @house.semester_end_date %></td>\
															<td><%= escape_javascript best_in_place @house, :permanent_chores_start_week, :type => :select, :collection => (1..15).collect {|i|[i,i]} %></td>\
															<td><%= escape_javascript best_in_place @house, :hours_per_week %></td>\
															<td><%= escape_javascript best_in_place @house, :sign_off_by_hours_after %></td>\
															<td><%= escape_javascript best_in_place @house, :using_online_sign_off, :type => :select, :collection => [[1, "Yes"], [0, "No"]] %></td>\
															<td><%= escape_javascript best_in_place @house, :sign_off_verification_mode, :type => :select, :collection => [[0, "None"], [1, "Without password"], [2, "With password"]] %></td>\
															<td><%= escape_javascript best_in_place @house, :blow_off_penalty_factor %></td>\
															<td><%= escape_javascript best_in_place @house, :wsm_email %></td>\
															<td><%= link_to "x", @house, :confirm => "Are you sure you want to delete this house?", :method => :delete, :remote => true, :class => "delete_button" %></td>\
															</tr>')
	$('#new_house')[0].reset()
	setup()
	flash_green('<%= escape_javascript flash[:notice] %>')
<% else %>
	flash_red('<%= escape_javascript flash[:notice] %>')
<% end %>