<body>
<div id="Layer1"><strong>Fine Management</strong></div>
<p><a>House: </a><%= @house.name %></p>
<p><a>Semester Start Date: </a><%= @house.semester_start_date></p>
<p><a>Semester End Date: </a><%= @house.semester_end_date></p>
<p><a>Current Fine: </a><%= @house.blow_off_penalty_factor %></p>
<p><a>Current Hours: </a><%= @house.hours_per_week></p>
<p><a>Current Week: </a><%= @house.current_week></p>
</div>
</body>