<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :house_id %><br />
    <%= f.collection_select(:house_id, House.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= text_field_tag :password %>
  </div>
  <div class="field">
    <%= f.label :access_level %><br />
    <%= f.select(:access_level, options_for_select([['Resident', 1], ['Workshift Manager', 2], ['Administrator', 3]], 1)) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :room_number %><br />
    <%= f.text_field :room_number %>
  </div>
  <div class="field">
    <%= f.label :hours_per_week %><br />
    <%= f.text_field :hours_per_week %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
