<style type="text/css">

.STYLE3 {font-weight: bold}
.STYLE4 {font-weight: bold}
.STYLE5 {font-weight: bold}
.STYLE6 {font-weight: bold}
.STYLE7 {font-weight: bold}
.STYLE8 {font-weight: bold}
.STYLE9 {font-weight: bold}
.STYLE11 {font-weight: bold}
.STYLE12 {font-weight: bold}
.STYLE13 {font-weight: bold}
.STYLE14 {font-weight: bold}
.STYLE15 {font-weight: bold}
.STYLE16 {font-weight: bold}
.STYLE17 {font-weight: bold}
.STYLE18 {font-weight: bold}
#Layer3 {
	position:absolute;
	width:62px;
	height:24px;
	z-index:2;
	left: 373px;
	top: 346px;
}
#Layer4 {
	position:absolute;
	width:59px;
	height:24px;
	z-index:2;
	left: 374px;
	top: 351px;
}

</style>


		<div id="Layer1"><strong>My Shift  </strong></div>
        <div>
          <p><strong>Currently Assigned Shifts: </strong></p>
          <table width="784" height="177" border="1">
            <tr>
              <td width="105" class="STYLE3"><div align="center">Monday</div></td>
              <td width="105" class="STYLE4"><div align="center">Tuesday</div></td>
              <td width="105" class="STYLE5"><div align="center">Wednesday</div></td>
              <td width="105" class="STYLE6"><div align="center">Thursday</div></td>
              <td width="105" class="STYLE7"><div align="center">Friday</div></td>
              <td width="105" class="STYLE8"><div align="center">Satursday</div></td>
              <td width="105" class="STYLE9"><div align="center">Sunday</div></td>
		
              <td width="105" class="STYLE9"><div align="center">Weekly Shifts</div></td>
            </tr>

<% @shifts.each do |shift| %>
    <% @assignments.each do |assignment| %>
	   <% if shift.day_of_week == 1 %>
            <tr>
              <td height="110" class="STYLE11">
			<%= assignment.chore.name %>
			<%= check_box_tag "Monday", assignment.shift_id, @assignments.include?(assignment) %>
                </td>
	   <% elsif shift.day_of_week == 2 %>
              <td class="STYLE12">
			<%= assignment.chore.name %>
			<%= check_box_tag "Tuesday", assignment.shift_id, @assignments.include?(assignment) %>
              </td>
	   <% elsif shift.day_of_week  == 3 %>
              <td class="STYLE13">
			<%= assignment.chore.name %>
			<%= check_box_tag "Wednesday", assignment.shift_id, @assignments.include?(assignment) %>
              </td>
	   <% elsif shift.day_of_week == 4 %>
              <td class="STYLE14">
			<%= assignment.chore.name %>
			<%= check_box_tag "Thursday", assignment.shift_id, @assignments.include?(assignment) %>
		</td>
	   <% elsif shift.day_of_week == 5 %>
              <td class="STYLE15">
			<%= assignment.chore.name %>
			<%= check_box_tag "Friday", assignment.shift_id, @assignments.include?(assignment) %>
		</td>
	   <% elsif shift.day_of_week == 6 %>
              <td class="STYLE16">
			<%= assignment.chore.name %>
			<%= check_box_tag "Saturday", assignment.shift_id, @assignments.include?(assignment) %>
		</td>
	   <% elsif shift.day_of_week == 7 %>
              <td class="STYLE17">
			<%= assignment.chore.name %>
			<%= check_box_tag "Sunday", assignment.shift_id, @assignments.include?(assignment) %>
		</td>
            </tr>


	   <% else %>
              <td class = "STYLE18">
			<%= assignment.chore.name %>
			<%= check_box_tag "Weeklong", assignment.shift_id, @assignments.include?(assignment) %>
              </td>
            </tr>
          </table>

	<% end %>
   <% end %>
<% end %>


          <p>&nbsp;</p>

          <table width="200" border="1">
            <tr>
              <td id="dropbox"><strong>Shifts signing out</strong></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table> 

          <%= submit_tag "Sign Out", :name => "Sign Out" %>

          <p>&nbsp;</p>
          <table width="200" border="1">
            <tr>
              <td><strong>Shifts signing off</strong></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>

          <%= submit_tag "Sign Off", :name => "Sign Off" %>




          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp; </p>
