<style type="text/css">

.STYLE3 {font-weight: bold}
.STYLE4 {font-weight: bold}
.STYLE5 {font-weight: bold}
.STYLE6 {font-weight: bold}
.STYLE7 {font-weight: bold}
.STYLE8 {font-weight: bold}
.STYLE9 {font-weight: bold}
.STYLE11 {font-weight: bold}
.STYLE12 {font-weight: bold}
.STYLE13 {font-weight: bold}
.STYLE14 {font-weight: bold}
.STYLE15 {font-weight: bold}
.STYLE16 {font-weight: bold}
.STYLE17 {font-weight: bold}
.STYLE18 {font-weight: bold}
#Layer3 {
	position:absolute;
	width:62px;
	height:24px;
	z-index:2;
	left: 373px;
	top: 346px;
}
#Layer4 {
	position:absolute;
	width:59px;
	height:24px;
	z-index:2;
	left: 374px;
	top: 351px;
}

</style>


		<div id="Layer1"><strong>My Shift  </strong></div>
        <div>
          <p><strong>Currently Assigned Shifts: </strong></p>
          <table width="784" height="177" border="1">
            <tr>
              <td width="105" class="STYLE3"><div align="center">Monday</div></td>
              <td width="105" class="STYLE4"><div align="center">Tuesday</div></td>
              <td width="105" class="STYLE5"><div align="center">Wednesday</div></td>
              <td width="105" class="STYLE6"><div align="center">Thursday</div></td>
              <td width="105" class="STYLE7"><div align="center">Friday</div></td>
              <td width="105" class="STYLE8"><div align="center">Satursday</div></td>
              <td width="105" class="STYLE9"><div align="center">Sunday</div></td>
		
              <td width="105" class="STYLE9"><div align="center">Weekly Shifts</div></td>
            </tr>

  <% @shifts.each do |shifts| %>
	
	   <% if shifts.day_of_week == 1 %>
            <tr>
              <td height="110" class="STYLE11">
			<%= shifts.chore.name %>
                <form id="form4" name="form4" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox1" />
                  <label for="checkbox"></label>
              </form></td>
	   <% elsif shifts.day_of_week == 2 %>
              <td class="STYLE12">
			<%= shifts.chore.name %>
                <form id="form5" name="form5" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox2" />
                  <label for="checkbox2"></label>
                </form>
              </td>
	   <% shifts.day_of_week == 3 %>
              <td class="STYLE13">
			<%= shifts.chore.name %>
                <form id="form6" name="form6" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox3" />
                  <label for="checkbox3"></label>
                </form>
              </td>
	   <% elsif shifts.day_of_week == 4 %>
              <td class="STYLE14">
			<%= shifts.chore.name %>
		   <form id="form7" name="form7" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox4" />
                  <label for="checkbox4"></label>
                </form>
		</td>
	   <% elsif shifts.day_of_week == 5 %>
              <td class="STYLE15">
			<%= shifts.chore.name %>
		   <form id="form8" name="form8" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox5" />
                  <label for="checkbox5"></label>
                </form>
		</td>
	   <% elsif shifts.day_of_week == 6 %>
              <td class="STYLE16">
			<%= shifts.chore.name %>
		   <form id="form9" name="form9" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox6" />
                  <label for="checkbox6"></label>
                </form>
		</td>
	   <% elsif shifts.day_of_week == 7 %>
              <td class="STYLE17">
			<%= shifts.chore.name %>
		   <form id="form10" name="form10" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox7" />
                  <label for="checkbox7"></label>
                </form>
		</td>
            </tr>


	   <% else %>
              <td class = "STYLE18">
			<%= shifts.chore.name %>
                <form id="form11" name="form11" method="post" action="">
                  <input type="checkbox" name="checkbox[]" id="checkbox8" />
                  <label for="checkbox8"></label>
                </form>
              </td>
            </tr>
          </table>

	<% end %>
<% end %>


          <p>&nbsp;</p>

          <table width="200" border="1">
            <tr>
              <td id="dropbox"><strong>Shifts signing out</strong></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table> 

          <%= submit_tag "Sign Out", :name => "Sign Out" %>

          <p>&nbsp;</p>
          <table width="200" border="1">
            <tr>
              <td><strong>Shifts signing off</strong></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>

          <%= submit_tag "Sign Off", :name => "Sign Off" %>

          <form id="form3" name="form3" method="post" action="">
            <p><strong>Available Shifts:</strong></p>

		  <% @shifts.each do |shifts| %>
			<% if shifts.temporary == 1 %>
				<%= shifts.chore.name %>
					<form id="form12" name="form12" method="post" action="">
                  			<input type="checkbox" name="checkbox[]" id="checkbox9" />
                  			<label for="checkbox9"></label>
                			</form>
			<% end %>
	         <% end %>

            <table width="350" border="1">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
            <p>&nbsp;</p>
          </form>



          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp; </p>
