


		<h2>My Profile</h2>
		<br /><br />
        <p>Name: <a id="desc"> <%= @user.name %></a></p>
		<p>Room Number: <a id="desc2"> <%= @user.room_number%></a></p>
        <p>Email: <a id="desc3"> <%= @user.email%></a></p>
        <p>Phone Number: <a id="desc4"><%= @user.phone_number%></a></p>

        <a>About me:</a><p id="desc5"><%= @user.notes%></p>
        <p>&nbsp; </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
	<%= link_to 'Edit', edit_user_path(@user) %> 
      </div>


	</div>
</div>
</body>


