<h1>Listing fining_periods</h1>

<table>
  <tr>
    <th>Fining week</th>
    <th>Fine for hours below</th>
    <th>Fine per hour below</th>
    <th>Forgive percentage of fined hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fining_periods.each do |fining_period| %>
  <tr>
    <td><%= fining_period.fining_week %></td>
    <td><%= fining_period.fine_for_hours_below %></td>
    <td><%= fining_period.fine_per_hour_below %></td>
    <td><%= fining_period.forgive_percentage_of_fined_hours %></td>
    <td><%= link_to 'Show', fining_period %></td>
    <td><%= link_to 'Edit', edit_fining_period_path(fining_period) %></td>
    <td><%= link_to 'Destroy', fining_period, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fining period', new_fining_period_path %>
