<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_of_week %><br />
    <%= f.select(:day_of_week, [['Sunday', 1],
                                                  ['Monday', 2],
                                                  ['Tuesday', 3],
                                                  ['Wednesday', 4],
                                                  ['Thursday', 5],
                                                  ['Friday', 6],
                                                  ['Saturday', 7]]) %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time, :ampm=> true, :minute_step => 15 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
