<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chore_id %><br />
    <%= f.collection_select(:chore_id, Chore.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :day_of_week %><br />
    <%= f.number_field :day_of_week %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :temporary %><br />
    <%= f.number_field :temporary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
