<h2>Listing shifts</h2>

<table>
  <tr>
    <th>Chore</th>
    <th>Day of week</th>
    <th>Time</th>
    <th>Temporary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shifts.each do |shift| %>
  <tr>
    <td><%= shift.chore.name %></td>
    <td><%= shift.day_of_week %></td>
    <td><%= shift.time %></td>
    <td><%= shift.temporary %></td>
    <td><%= link_to 'Show', shift %></td>
    <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
    <td><%= link_to 'Destroy', shift, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shift', new_shift_path %>


<div id="content_header">
    <h2>Shift Allocation</h2>
</div>
<!-- Chore creation field -->
        <div id="calendar">
       
			<div>
				<span class="tab" id="dailytab"><a class="buttonwrapper" href=#>Daily</a></span>
				<span class="tab" id="weeklytab"><a class="buttonwrapper" href=#>Weekly</a></span>
			</div>
			<div id="daily">
              <span class="dayname">Monday</span>
			  <span class="dayname">Tuesday</span>
			  <span class="dayname">Wednesday</span>
			  <span class="dayname">Thursday</span>
			  <span class="dayname">Friday</span>
			  <span class="dayname">Saturday</span>
			  <span class="dayname">Sunday</span>
			</div>
			<% @shifts.each do |shift| %>				
				<div class="chore">
					<%= tag("div", {:class => "chorename", :id => shift.chore.id.to_s}, true) =%><%= shift.chore.name %> <%= shift.time %></div>
					<%= tag("div", {:class => "day monday", :id => "m"+shift.chore.id.to_s}, true) =%></div>
					<%= tag("div", {:class => "day tuesday", :id => "t"+shift.chore.id.to_s}, true) =%></div>
					<%= tag("div", {:class => "day wednesday", :id => "w"+shift.chore.id.to_s}, true) =%></div>
					<%= tag("div", {:class => "day thursday", :id => "th"+shift.chore.id.to_s}, true) =%></div>
					<%= tag("div", {:class => "day friday", :id => "f"+shift.chore.id.to_s}, true) =%></div>
					<%= tag("div", {:class => "day saturday", :id => "sa"+shift.chore.id.to_s}, true) =%></div>
					<%= tag("div", {:class => "day sunday", :id => "su"+shift.chore.id.to_s}, true) =%></div>
				</div>
			<% end %>

        </div>
		
		<div id="namelist">
			<% @users.each do |user| %>				
				<%= tag("div", {:class => "resident"}, true) =%><%= user.name %></div>
			<% end %>
		</div>

		<%= form_for(@assignment) do |f| %>
			<div class="field" id="form_userid">
				<%= f.number_field :user_id %>
			</div>
			<div class="field" id="form_shiftid">
				<%= f.number_field :shift_id %>
			</div>
			<div class="field" id="form_week">
				<%= f.number_field :week %>
			</div>
			<div class="field" id="form_status">
				<%= f.number_field :status %>
			</div>
			<div class="field" id="form_blowoffjobid">
				<%= f.number_field :blow_off_job_id %>
			</div>	
			<div class="actions">
				<%= f.submit %>
			</div>
			
		<% end %>


