<%= form_for(@user_hour_requirement) do |f| %>
  <% if @user_hour_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_hour_requirement.errors.count, "error") %> prohibited this user_hour_requirement from being saved:</h2>

      <ul>
      <% @user_hour_requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week %><br />
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
