<%= form_for(@house_hour_requirement) do |f| %>
  <% if @house_hour_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house_hour_requirement.errors.count, "error") %> prohibited this house_hour_requirement from being saved:</h2>

      <ul>
      <% @house_hour_requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :house_id %><br />
    <%= f.collection_select(:house_id, House.all, :id, :name) %>
  </div>
  
  <div class="field">
    <%= f.label :week %><br />
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
