<h1>Listing house_hour_requirements</h1>

<table>
  <tr>
    <th>Week</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @house_hour_requirements.each do |house_hour_requirement| %>
  <tr>
    <td><%= house_hour_requirement.week %></td>
    <td><%= house_hour_requirement.hours %></td>
    <td><%= link_to 'Show', house_hour_requirement %></td>
    <td><%= link_to 'Edit', edit_house_hour_requirement_path(house_hour_requirement) %></td>
    <td><%= link_to 'Destroy', house_hour_requirement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New House hour requirement', new_house_hour_requirement_path %>
