<h1>Listing encrypted_connections</h1>

<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>

<table>
  <tr>
    <th>Public key</th>
    <th>Private key</th>
    <th></th>
  </tr>

<% @encrypted_connections.each do |encrypted_connection| %>
  <tr>
    <td><%= encrypted_connection.public_key %></td>
    <td><%= encrypted_connection.private_key %></td>
    <td><%= link_to 'Destroy', encrypted_connection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Encrypted connection', new_encrypted_connection_path %>
