<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BSC Workshift Manager</title>

<!-- Style sheet stuff

<link href="constant.css" rel="stylesheet" type="text/css" />
<link href="login.css" rel="stylesheet" type="text/css" />
-->
<%= stylesheet_link_tag "constant", "application" %>
<%= javascript_include_tag :application %>
<%= csrf_meta_tags %>
</head>

<body>
<div id="wrap">
	<div id="main">
      <div id="header">
      	<span id="headertitle">
    		Berkeley Student Cooperative Workshift Manager
   		</span>
    	<span id="headerlist">
			<a class="headerlistitem" href="">Home</a>
        	<a class="headerlistitem" href="">Profile</a>
            <% if @logged_user %>
        	    <a class="headerlistitem" href="/logout">Logout</a>
            <% else %>
              <a class="headerlistitem" href="/login">Login</a>
            <% end %>
   		</span>
      </div>
      <div id="logobar">
		<%= image_tag "BSC-logo-small.jpg", :alt => "Go Home", :id => "logo" %>
		<span id="logotext">Workshift Manager</span>
      </div>
      <div id="navbar">
		<ul id="navlist">
			<li><a class="navlistitem" href="">My Shifts</a><li>
        	<li><a class="navlistitem" href="">My Fines</a></li>
        	<li><a class="navlistitem" href="">Shift Preferences</a></li>
   		</ul>
      </div>
      <div id="content">
        <% if not flash[:notice].blank? -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
		<%= yield %>
	  </div>

</div>
</body>
</html>
