<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BSC Workshift Manager</title>
<%= stylesheet_link_tag "constant", "application" %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>

<body>
<div id="wrap">
	<div id="main">
      <div id="header">
      	<span id="headertitle">
    		Berkeley Student Cooperative Workshift Manager
        </span>
        <!-- for demo/testing purposes -->
        <div id="time" style="display: inline-block; background-color: #add8e6; margin-left: 20px;"><%= render "demo/time" %></div>
    	<span id="headerlist">
			<%= link_to "Home", root_path, :class => 'headerlistitem' %>
            <% if @logged_user %>
                <%= profile_link :class => 'headerlistitem' -%>
        	    <%= link_to "Logout", {:controller => :users, :action => :logout}, :class => 'headerlistitem' %>
            <% else %>
              <%= link_to "Login", {:controller => :users, :action => :login}, :class => 'headerlistitem' %>
            <% end %>
   		</span>
      </div>
      <div id="logobar">
		<a href="/"><%= image_tag "BSC-logo-small.png", :alt => "Go Home", :id => "logo" %></a>
		<div id="logotext">Workshift Manager</div>
      </div>
      <div id="navbar">
			<% if @logged_user %>
              <%if @logged_user.access_level == 1 %>
                <div class="navlistitem"><a class="navlistlink" href="">My Shifts</a></div>
				<div class="navlistitem"><a class="navlistlink" href="">My Fines</a></div>
				<div class="navlistitem"><a class="navlistlink" href="">Shift Preferences</a></div>

              <%elsif @logged_user.access_level == 2 %>
                <div class="navlistitem"><a class="navlistlink" href="/manageshifts">Manage Shifts</a></div>
				<div class="navlistitem"><a class="navlistlink" href="/shifts">Allocate Shifts</a></div>
				<div class="navlistitem"><a class="navlistlink" href="/createChore">Create Chores and Shifts</a></div>

              <%elsif @logged_user.access_level == 3%>
                <div class="navlistitem"><a class="navlistlink" href="/manageshifts">Manage Shifts</a></div>
				<div class="navlistitem"><a class="navlistlink" href="/shifts">Allocate Shifts</a></div>
				<div class="navlistitem"><a class="navlistlink" href="/createChore">Create Chores and Shifts</a></div>

              <%end%>

            <% else %>
				<a class="navlistitem" href="/login">Login</a>
            <% end %>			
      </div>
      <div id="content">
        <% if not flash[:notice].blank? -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
		<%= yield %>
	  </div>

</div>
    </div>
</body>
</html>
