<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BSC Workshift Manager</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>

<body>
<div id="wrap">
	<div id="main">
      <div id="header">
      	<span id="headertitle">
    		Berkeley Student Cooperative Workshift Manager
        </span>
        <!-- for demo/testing purposes -->
        <div id="time" style="display: inline-block; background-color: #add8e6; margin-left: 20px;"><%= render "demo/time" %></div>
    	<span id="headerlist">
			<%= link_to "Home", root_path, :class => 'headerlistitem' %>
			<a href="#" class="headerlistitem">Help</a>
            <% if @logged_user %>                
        	    <%= link_to "Logout", {:controller => :users, :action => :logout}, :class => 'headerlistitem' %>
            <% else %>
              <%= link_to "Login", {:controller => :users, :action => :login}, :class => 'headerlistitem' %>
            <% end %>
   		</span>
      </div>
      <div id="logobar">
		<a href="/"><%= image_tag "BSC-logo-small.png", :alt => "Go Home", :id => "logo" %></a>
		<div id="logotext">Workshift Manager</div>
      </div>
      <div id="navbar">
			<% if @logged_user %>
              <%if @logged_user.access_level == 1 %>
                <a class="navlistlink" href="/user/myshift"><div class="navlistitem">My Shifts</div></a>
				<a class="navlistlink" href="/user/managefines"><div class="navlistitem">My Fines</div></a>
				<a class="navlistlink" href="/setprefs"><div class="navlistitem">Shift Preferences</div></a>
				<%= tag("a", {:class => "navlistlink", :href => "/users/"+session[:user_id].to_s+"/profile"}, true) =%><div class="navlistitem">My Profile</div></a>

              <%elsif @logged_user.access_level == 2 %>
				<a class="navlistlink" href="/user/myshift"><div class="navlistitem">My Shifts</div></a>
				<a class="navlistlink" href="/user/managefines"><div class="navlistitem">My Fines</div></a>
				<a class="navlistlink" href="/setprefs"><div class="navlistitem">Shift Preferences</div></a>
                <a class="navlistlink" href="/manageshifts"><div class="navlistitem">Manage Shifts</div></a>
				<a class="navlistlink" href="/shifts"><div class="navlistitem">Allocate Shifts</div></a>
				<a class="navlistlink" href="/createChore"><div class="navlistitem">Create Chores and Shifts</div></a>

              <%elsif @logged_user.access_level == 3%>
                <a class="navlistlink" href="/manageshifts"><div class="navlistitem">Manage Shifts</div></a>
				<a class="navlistlink" href="/shifts"><div class="navlistitem">Allocate Shifts</div></a>
				<a class="navlistlink" href="/createChore"><div class="navlistitem">Create Chores and Shifts</div></a>
				<a class="navlistlink" href="#"><div class="navlistitem">Admin Tools</div></a>

              <%end%>

            <% else %>
				<a class="navlistlink" href="/login"><div class="navlistitem">Login</div></a>
            <% end %>			
      </div>
      <div id="viewContent">
      	<div id="notice" class="purr"><%= flash[:notice] %></div>
		<%= yield %>
		
	  </div>  
</div>

    </div>
</body>
</html>
